
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/Style/GioiThieu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
</head>
<body>

    <section class="about-section">
        <div style="overflow: hidden;" class="container">
            <div style="display: flex;" class="row clearfix">

                <!--Content Column-->
                <div style="width: 50%;margin-left:20px;" class="content-column col-md-6 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <div class="sec-title">
                            <div style="font-size: 30px;margin-right:10px" class="title">Giới thiệu sản phẩm</div>
                           
                        </div>
                        <div class="text">
                            Daniel Wellington là một thương hiệu đồng hồ đến từ Thụy Điển, nổi tiếng với thiết kế đơn giản, thanh lịch và tinh tế. Thương hiệu này được thành lập vào năm 2011 bởi Filip Tysander, người đã lấy cảm hứng từ một người đàn ông Anh có tên là Daniel Wellington, người có gu thời trang lịch lãm và đồng hồ vintage truyền thống.
                            Daniel Wellington chia sản phẩm của mình thành nhiều dòng, như Classic, Iconic Link, và Petite, mỗi dòng đều có những đặc trưng và phong cách riêng biệt. Sự linh hoạt trong thiết kế giúp thương hiệu này phổ biến rộng rãi và được ưa chuộng trên toàn thế giới.
                        </div>
                        <div class="email">Email: <span class="theme_color">svh@gmail.com</span></div>
                        <a style="text-decoration:none;" href="@Url.Action("Index","HomePage")" class="theme-btn btn-style-three">Quay về</a>
                    </div>
                </div>

                <!--Image Column-->
                <div style="width: 44%;border-radius: 5px;" class="image-column col-md-6 col-sm-12 col-xs-12">
                    <div class="inner-column " data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="image">
                            <img style="border-radius: 5px;" src="~/Image/quangcao_7.jpg" alt="">

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <hr style="text-align: center;width: 500px;opacity: 0.8;">
    </section>
    <!-- produk -->

    <div class="container-fluid products pt-5 pb-5">
        <div style="margin-left: 10px;" class="container text-center">

            <div style="display: flex;justify-content: space-between;" class="row pt-4">
                <div style="width: 33.33%;text-align: center;" class="col-md-4">
                    <img class="lingkaran" src="~/Image/banner_5.jpg" alt="">
                    <h3 class="mt-3">Classic</h3>
                    <p style="width: 400px;text-align: center;margin-left: 40px;">Đồng hồ Classic của Daniel Wellington nổi bật với mặt số trắng, chỉ số thanh mảnh và đôi khi có mặt số với ánh kim. Thiết kế đơn giản, truyền thống giúp tạo nên vẻ sang trọng và dễ kết hợp với nhiều phong cách thời trang khác nhau.</p>
                </div>

                <div style="width: 33.33%;text-align: center;" class="col-md-4">
                    <img class="lingkaran" src="~/Image/dh_nam_6_5.jpg" alt="">

                    <h3 class="mt-3">Iconic Lin</h3>
                    <p style="width: 400px;text-align: center;margin-left: 40px;" >Đồng hồ Iconic Link thường có vỏ hình chữ nhật độc đáo, tạo nên sự nổi bật và hiện đại. Với đường nét sắc sảo và chất liệu thép không gỉ, sản phẩm này mang đến sự mạnh mẽ và sang trọng.</p>
                </div>

                <div style="width: 33.33%;text-align: center;" class="col-md-4">
                    <img class="lingkaran" src="~/Image/quangcao_3.jpg" alt="">
                    <h3 class="mt-3">Petite</h3>
                    <p style="width: 400px;text-align: center;margin-left: 40px;">Như tên gọi, dòng đồng hồ Classic Petite có kích thước nhỏ gọn, phù hợp cho cả nữ giới. Với đường kính mặt số thường 32mm hoặc dưới, nó tạo ra vẻ nhỏ xinh và tinh tế.Dòng Classic Petite thường có thiết kế thanh lịch với mặt số đơn giản, chỉ số mảnh, và đôi khi đi kèm với các chi tiết như viền kim loại mảnh và dây đeo mảnh từ da hoặc vải.</p>
                </div>
            </div>
        </div>
    </div>
    <section class="gear-tailored">
        <div style="overflow: hidden;margin-bottom: 20px;" class="container">
            <div class="title-gear-tailored">
                <div class="title-heading-gear"></div>
            </div>
            <div class="img-gear-tailored">
                <div class="img-left">

                </div>
                <div class="images-right">
                    <div class="img-right-top">

                    </div>
                    <div class="img-right-bottom">

                    </div>
                </div>
            </div>
        </div>
    </section>
    <div style="overflow: hidden;font-style: oblique;" class="content__bottom">
        <div class="container_footer">
            <div style="margin-top: 30px;font-size: 30px;"><i style="margin-right: 10px;" class="fa-solid fa-star"></i>Ưu điểm<i style="margin-left: 10px;" class="fa-solid fa-star"></i></div>
            <div style="margin-left:10px ;" class="navbar">
                <ul style="text-align: left;font-size: 20px;padding-bottom: 10px;">
                    <li>
                        <i class="fa-solid fa-check"></i>Kích Thước Nhỏ Gọn: Như tên gọi, dòng đồng hồ Classic Petite có kích thước nhỏ gọn, phù hợp cho cả nữ giới. Với đường kính mặt số thường 32mm hoặc dưới, nó tạo ra vẻ nhỏ xinh và tinh tế.
                    </li>
                    <li>
                        <i class="fa-solid fa-check"></i>Thiết Kế Thanh Lịch: Dòng Classic Petite thường có thiết kế thanh lịch với mặt số đơn giản, chỉ số mảnh, và đôi khi đi kèm với các chi tiết như viền kim loại mảnh và dây đeo mảnh từ da hoặc vải.
                    </li>
                    <li>
                        <i class="fa-solid fa-check"></i>Phối Màu Tinh Tế: Sự tinh tế được thể hiện qua việc chọn lựa màu sắc, thường là các gam màu nhẹ nhàng như trắng, hồng nhạt, hoặc xanh nhạt. Những sắc thái nhẹ tạo nên vẻ dễ thương và nữ tính. <br><span style="margin-left: 29px;">siêu rộng và zoom quang học xuất sắc.</span>
                    </li>
                    <li>
                        <i class="fa-solid fa-check"></i>Dây Đeo Đa Dạng: Dòng đồng hồ Classic Petite thường có nhiều lựa chọn về dây đeo, bao gồm cả dây NATO mảnh, dây da, và các kiểu dáng khác nhau để phản ánh cá tính và phong cách cá nhân của người đeo.
                    </li>
                    <li>
                        <i class="fa-solid fa-check"></i>Dòng Classic Petite là sự kết hợp hoàn hảo giữa vẻ ngoại hình dễ thương và chất lượng chế tác, là lựa chọn ưa thích của những người phụ nữ muốn có một chiếc đồng hồ nhỏ gọn, đẹp mắt, và thích hợp cho mọi dịp.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
